.close{
    font-size: 60px;
    
}
.close-bod{
    text-align: right;
}

.all-bod{
    width: 80%;
    margin: 0 auto;
}

.data{
    font-size: 25px;
    padding-bottom: 15px;
    line-height: 0.5em;
}

.data{
    font-size: 25px;
    padding-bottom: 15px;
    line-height: 0.9em;
}