<ion-content [fullscreen]="true">
  <div class="logo">
    <img src="assets/images/logo.png" width="80%" />
  </div>
  <div class="title">
    Welcome to the best Beer review app.<br><br>
    You can Post and Read reviews of your favorite brands of beer.
  </div>

  <div class="button-section">


    <div class="auth-btn-cover">
      <button class="custom-button" (click)="register()">Register</button>
    </div>

    <div class="auth-btn-cover">
      <button class="custom-button" (click)="login()">Login</button>
    </div>

  </div>

</ion-content>