.logo {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}
.button-native {
  --background-color: red !important;
}

.des {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  line-height: 1.5em;
}

.rev-title {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 0px;
  font-size: 30px;
}

.norevs {
  text-align: center;
}

.my-custom-menu {
  --width: 500px;
}


.search{
  float: right;
    font-size: 30px;
    padding-right: 5px;
}